body{
    background-color: black;
    color: white;
}
.logo{
    width: 50px;
    margin-left: 50px;
}
h1{
    text-align: center;
}
.log, .sign{
    display: none;
}

.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;

}
.form>input{
    width: 65%;
}
.logform{
    width: 250px;
    height: 200px;
    background-color: white;
    color: black;
    margin-left: 39%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 40px;

}
.hello{
    text-align: center;
}
.h2log{
    text-align: center;
    padding: 5px;
}
.signform{
    width: 250px;
    height: 200px;
    background-color: white;
    color: black;
    margin-left: 39%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 40px;
}
.h2sign{
    text-align: center;
    padding: 5px;
}
.formsign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;

}
.formsign>input{
    width: 65%;
}


/* admin */



table{
    border: 1px solid
}
th, td{
    border: 1px solid;
}